<article class="post">
  <div class="title">
    <a href="{{contents}}" target="_blank">{{title}}</a>
    <span>({{contents}})</span>
  </div>
  <div class="meta">
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>